@model PL.ViewModel.ReviewIndex
@using PL.Helpers


@{
    ViewBag.Title = "Index";
}

    <div class="article">

        @foreach (var item in Model.Reviews)
        {

            <h3 class="name-article">@item.Name</h3>
            <hr noshade size="3" color="#bc4123">
            <p class="text-article">
                @Html.Raw(@item.Comment)
            </p>
            <h5 class="date-article">@item.Date.ToString("dd/MM/yyyy")</h5>
            <hr noshade size="3" color="#bc4123">
        }
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>
        @using (Html.BeginForm("ResponsesAdd", "Guest", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            @Html.LabelFor(m => m.ReviewNew.Name) <br />
            @Html.ValidationMessageFor(m => m.ReviewNew.Name) <br />
            @Html.TextBoxFor(m => m.ReviewNew.Name, new { placeholder = "Enter your name" }); <br>
            @Html.LabelFor(m => m.ReviewNew.Comment) <br />
            @Html.ValidationMessageFor(m => m.ReviewNew.Comment) <br />
            @Html.TextAreaFor(m => m.ReviewNew.Comment, new { placeholder = "Enter text" }); <br>
            <input type="submit" name="Button" value="Submit" id="button" />
        }
    </div>
